# Maven build artifacts
target/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

.env

# Filip's gitignore 
local dev folder/

.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars.*

tfplan
*.tfplan
*.plan